

    #list{

        & header{
            border-bottom: 1px solid var(--gray-400);
            padding-bottom: 1rem;

            & p{
                font-weight: 680;
            }
        }

    & span{
        color: var(--gray-200);
    }
    & small{
        color: var(--gray-200);
    }

    & ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        list-style: none;
        margin-top: 1.5rem;
        padding: 0;
        & li{
            display: flex;
            align-items: center;
            justify-content: space-between;

            & div:nth-child(1){
                display: flex;
                align-items: center;
                gap: 1rem;

                & small{
                    text-transform: capitalize;
                }
            }

            & span{
                width: 2.125rem;
                height: 2.125rem;
                background-color: var(--gray-400);
                border-radius: 50%;
                position: relative;
                text-align: center;

                & img{
                    width: 1.125rem;
                    height: 1.125rem;
                    position: absolute;
                    top: 0.4rem;
                    left: 0.47rem;
                }

            }

            & p{
                color: var(--gray-100);
                font-weight: 680;
                margin: 0;

                & small{
                    font-weight: 500;
                }
            }

            & p:has(small){
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 0.25rem;
            }

            & .values{
                display: flex;
                align-items: center;

                gap: 1rem;
            }

            & .cancel{
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover{
                    border-radius: 50%;
                    padding: 0.25rem;
                    background-color: #4d5c572f;
                }
            }
           

        }
    }
    
}





